* {
  box-sizing: border-box;
}

.row {
  width: 1000px;
  padding: 0 20px;
  border: 1px dashed red;
}

/* Clearfix */
.row::before,
.row::after {
  display: table;
  content: '';
}

.row::after {
  clear: both;
}

.col-4 {
  width: 31.2%;
  border: 1px solid #e5e5e5;
  float: left;
  margin-bottom: 2%;
  margin-right: 1.8%;
}

@media screen and (max-width: 640px) {
  .row {
    width: 100%;
  }
  .col-4 {
    width: 100%;
  }
}

@media screen and (max-width: 1000px) {
  .row {
    width: 100%;
  }
}